* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.audioplayer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #1e1e1e;
    color: #fff;
    font-family: Arial, sans-serif;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    max-width: 300px;
    margin: 50px auto;
}

.audioplayer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 12px;
}

.cover-art {
    background: #333;
    border-radius: 10px;
    width: 100%;
    max-width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
}
.cover-art img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.title {
    font-weight: bold;
    font-size: 16px;
}

.artiste {
    font-size: 14px;
    color: #bbb;
}

.progress-bar {
    position: relative;
    background: #444;
    height: 6px;
    width: 100%;
    border-radius: 10px;

}

.progress {
    background: #ff4f4f;
    height: 100%;
    width: 0%;
    border-radius: 10px;

    transition: width 0.05s ease;
    width: 100%;

}
.progress-thumb {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    z-index: 10000; /* make sure it’s above .progress */
    pointer-events: none;
}
.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 5px;
}

.play-pause-button,
.nextBtn,
.prevBtn {
    width: 38px;
    height: 38px;
    background: rgba(255, 79, 79, 0.8);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid rgba(255,255,255,0.1);
}

.play-pause-button:hover,
.nextBtn:hover,
.prevBtn:hover {
    background: rgba(255, 79, 79, 1);
    transform: scale(1.1);
}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--cover-url);
    background-size: cover;
    background-position: center;
    filter: blur(20px);
    transform: scale(1.1);
    z-index: -1;
    transition: background-image 0.5s ease-in-out;
}
